<section class="private-key-success">
  <p>Your key has been securely stored. You can now <a href="/">post a message</a>.</p>
</section>

<section class="add-private-key">
  <p class="form-description">Paste your private key below. It will be held in local storage only, not sent to the server.</p>
  <form action="#" id="private-key">
    <textarea id="private-key-text"></textarea>
    <input type="submit">
  </form>
</section>

<section class="add-public-key">
  <form action="#" id="public-key">
    <textarea id="public-key-text"></textarea>
    <input type="submit" id="submit-public-key" value="Submit">
  </form>
</section>

