<section class="keys-success">
  <p class="ss-key">Your keys have been securely stored. You can now <a href="/">post a message</a>.</p>
</section>

<section class="add-private-key">
  <p class="form-description">Paste your private key below. It will be held in local storage only, not sent to the server.</p>
  <form action="#" id="keys">
    <textarea id="private-key-text"></textarea>

    <p class="form-description" style="clear: both; padding-top: 1em;">And then also paste your public key below. This is safe to give to anyone.</p>
    <textarea id="public-key-text"></textarea>
    <input type="submit" id="submit-public-key" value="Submit">
  </form>
</section>

