<section class="post-message">
  <form>
    <div class="post-message-widget">Upload your message</div>
    <button>Post</button>
  </form>
</section>

<ol class="messages">
  <% 10.times do %>
    <li class="message">
      <p class="message-body">Our epoch, the epoch of the bourgeoisie, possesses, however, this distinct feature: it has simplified class antagonisms. Society as a whole is more and more splitting up into two great hostile camps, into two great classes directly facing each other — Bourgeoisie and Proletariat.</p>
      <section class="metadata">
        <span class="datetime">12 Apr 2014</span>
      </section>
    </li>
  <% end %>
</ol>
