<li class="message">
  <div class="message-body"><img src="<%= upload.document %>" data-sha="<%= upload.sha256 %>" data-keyid="burns"></div>
  <section class="metadata">
    <span class="ss-femaleuser"><a href="#">Name of uploader</a> on date</span>
  </section>
</li>
