<section class="private-key-status">
  <p class="ss-key">To post, please <a href="/pages/add-key">confirm your identity</a>.</p>
</section>

<section class="post-message">
  <%= form_for @upload do |form| %>
    <%= form.file_field :document %>
    <input type="hidden" id="signed_file">
    <input type="hidden" id="public_key">
    <%= form.submit 'Upload' %>
  <% end %>
</section>

<ol class="messages">
  <%= render @uploads %>
</ol>
